# Software information

This document summarizes the latest stats of all the software published on the
KrishnanLab GitHub organization.

{{ software_info_summary_table }}

Last updated: {{ last_updated }}
